/* ANGULAR ANIMATIONS */

.portfolio__tab__content.ng-hide {
  opacity: 0;
}


.portfolio__tab__content.ng-hide.ng-hide-add,
.portfolio__tab__content.ng-hide.ng-hide-remove,
.portfolio__tab__content.ng-hide-remove,
.portfolio__tab__content.ng-hide-add.ng-hide {
  display: block !important;
  -webkit-transition: .3s ease-in-out all;
          transition: .3s ease-in-out all;
}
