html, body {
  height: 100%;
  font-size: 16px;
}

p {
  font-weight: 300;
}

ul > li > p, ol > li > p {
  margin-bottom: 0;
}

ul > li:last-child > p, ol > li:last-child > p {
  margin-bottom: 1.25rem;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.page__contents {
  padding: 3rem;

}

.page--404 {
  background: url('../images/bg-404.jpg');
}

.page__contents--404 {
  background: hsla(360,100%,100%,.85);
  border: 3px dotted hsla(0,0%,0%,.85);
  padding: 2rem;
}


.title {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: .065rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

  .page__header {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 1);
    padding: 3rem;
  }

    .page__title {
      font-family: 'Abril Fatface', Arial;
      font-weight: 300;
      text-transform: capitalize;
    }

  .page__title:first-letter {
    float: left;
    font-size: 7rem;
    line-height: 4rem;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 1.33rem;
  }

  .page__value-statement {
    color: hsla(0, 0%, 0%, .65);
    font-size: 1.65rem;
    line-height: 1.65;
  }

  .contact-me {
    background: hsla(0, 0%, 93%, .25);
    display: inline-block;
    font-size: .9rem;
    font-weight: 300;
    letter-spacing: .065rem;
    padding: 1rem;
    text-align: right;
  }

.items {
  list-style: none;
  margin-left: 0;
}

  .item {
    padding: .65rem;
  }

    .item__title {
      font-family: 'Abril Fatface', Arial;
      text-transform: capitalize;
    }

.portfolio {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 1);
  padding: 4.25rem 3rem 3rem 3rem;
  position: relative;
  text-align: center;
}

  .portfolio__header {
    margin: 0 0 2rem 0;
  }

  .portfolio__title {
    font-size: 1.65rem;
    font-weight: 300;
    letter-spacing: .385rem;
  }

  .portfolio__tabs {
    list-style: none;
    margin-bottom: 2rem;
  }

  .portfolio__tab {
    display: inline-block;
    margin: 0 2rem;
  }

  .portfolio__tab__link {
    color: hsla(0, 0%, 0%, 1);
    display: block;
    font-size: 1.15rem;
    letter-spacing:  .15rem;
    padding: .5rem 2rem;
    width: 12rem;
    text-transform: uppercase;
  }
    .portfolio__tab__link:hover {
      background: hsla(0, 0%, 93%, 1);
      color: hsla(0, 0%, 0%, 1);
    }

    .portfolio__tab__link--active {
      border-bottom: 3px solid hsla(0, 0%, 0%, 1);
    }


  .portfolio__tab__content{
    opacity: 1;
  }

  .portfolio__item__image {
    margin: 0 0 5rem 0;
  }

  .portfolio__item__title {
    font-size: 2rem;
    font-weight: 500;
  }

  .portfolio__item__link {
    color: hsla(0, 0%, 0%, 1);
  }

  .portfolio__item__description {
    color: hsla(0, 0%, 0%, .65);
    font-size: 1.65rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
  }



/* Portfolio Work Items */

.portfolio__item--web {
  margin: 2rem 0;
  padding: 2rem 1rem;
}

.work-item__context {
  font-family: 'Abril Fatface', Arial;
  font-size: 1.65rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: .065rem;
  margin-bottom: 0;
  text-transform: capitalize;
}

.work-item__title {
  color: hsla(0, 0%, 0%, .65);
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 300;
  line-height: 1.5;
}

.work-page {
  font-size: 1.25rem;
  margin: 3rem 0;
  text-align: left;
}

.work-page > p, .work-page > ol li {
  font-size: 1.25rem;
  font-weight: 300;

}

.work-page__media {
  font-size: 1.25rem;
  margin: 0;
  text-align: left;
}

.work-page__media > p, .work-page__media > ol li {
  font-size: 1.25rem;
  font-weight: 300;

}



.work-page__header {
  margin-bottom: 2rem;
  text-align: center;
}

.work-page__context {
  font-family: 'Abril Fatface', Arial;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: .065rem;
  margin-bottom: 0;
  text-transform: capitalize;
}

.work-page__title {
  color: hsla(0, 0%, 0%, .65);
  font-size: 1.65rem;
  font-style: italic;
  font-weight: 300;
  line-height: 1.5;
}

.work-page__subheading {
  border-top: 1px dotted hsla(0,0%,0%,.25);
  font-family: 'Abril Fatface', Arial;
  font-size: 1.8rem;
  letter-spacing: .065rem;
  margin-top: 3rem;
  padding-top: 1rem;
  text-transform: uppercase;
}

.work-page__subheading--small {
  border: none;
  font-size: 1.25rem;
  letter-spacing: .035rem;
  margin-top: 0;
}

.work-page__subheading--xsmall {
  border: none;
  color: hsla(0,0%,25%,1);
  font-size: 1.25rem;
  letter-spacing: .065rem;
  margin-top: 0;
  text-transform: capitalize;
}

.subheading__note {
  background: hsla(0,0%,0%,1);
  color: hsla(360,100%,100%,1);
  font-size: .85rem;
  letter-spacing: .065rem;
  padding: .25rem 1rem;
  text-transform: uppercase;
}

.subheading__note--list:first-of-type {
  margin-bottom: 0;
  margin-top: 0;
}

.subheading__note--list {
  margin-bottom: 0;
  margin-top: 1.25rem;
}

.image__title {
  font-size: .85rem;
  letter-spacing: .065rem;
  margin: .25rem 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}


/* Footer */
.footer {
  text-align: center;
}

.social-media {
  padding: 4.25rem 3rem 3rem 3rem;
}

  .social-media__header {
    margin: 0 0 2rem 0;
  }

  .social-media__title {
    display: none;
    font-size: 1.65rem;
    font-weight: 600;
    letter-spacing: .385rem;
  }

  .social-media__item {
    border-radius: 5rem;
    display: inline-block;
    height: 8rem;
    margin: 0 1rem 0 1rem;
    padding: 1.25rem;
    width: 8rem;
  }
    .social-media__item--twitter {
      background: hsla(0, 0%, 0%, .85);
      background-clip: content-box;
    }

.copyright {
  font-size: .85rem;
  padding: 3rem;
  margin-bottom: 5rem;
}

/* Helpers */
.action {
  display: block;
  margin: 1rem 0;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style:  italic;
}

.lowercase {
  text-transform: lowercase;
}

.text--left{
  text-align: left;
}


/*FOUNDATION OVERRIDES*/
ul {
  margin-left: 0;
}

img {
  width: 100%;
  margin-bottom: 1rem;
}

.button {
  letter-spacing: .065rem;
  text-transform: uppercase;
}

.button--black {
  background-color:  hsla(0,0%,30%,.95);
}

.button--black:hover {
  background-color:  hsla(0,0%,0%,.85);
}

.button--404 {
  background-color:  hsla(0,0%,30%,.95);
}

.button--404:hover {
  background-color:  hsla(0,0%,0%,.85);
}

// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 240px){

  .column, .columns {
    padding: 0 .5rem;
  }
  .page__contents {
    padding: .25rem;
    margin-top: .25rem;
  }

  .page__header {
      border-bottom: 1px dotted hsla(0, 0%, 0%, 1);
      padding: 0;
    }

  .page__title {
      font-size: 1rem;
      letter-spacing: .025rem;
      margin-top: 1rem;
    }

    .page__title:first-letter {
        font-size: 2.65rem;
        line-height: .85;
        padding-left: .25rem;
        padding-right: .25rem;
        padding-top: 0;
      }

    .page__value-statement {
      font-size: .8rem;
      line-height: 1;
    }

     .portfolio {
    padding: 1.25rem 0 0 0;
  }
    .portfolio__header {
      margin: 0 0 .25rem 0;
    }

  .portfolio__tab {
    display: inline-block;
    margin: .65rem 0;
  }

  .portfolio__tab__link {
    font-size: .5rem;
    letter-spacing:  .065rem;
    padding: 0;
    width: 4rem;
  }

    .portfolio__title {
      font-size: .85rem;
    }

    .portfolio__item {
      padding: .25rem 0;
    }

    .portfolio__item__title {
      font-size: .8rem;
    }

    .portfolio__item__description {
      font-size: .8rem;
    }

    .work-item__context {
      font-size: .85rem;
    }

    .work-item__title {
      font-size: .85rem;
    }

    .work-page {
      margin: 0;
    }
    .work-page__header {
      margin-bottom: 1rem;
    }
    .work-page__context {
      font-size: .85rem;
    }
    .work-page__title {
      font-size: .85rem;
    }

    p {
      font-size: .85rem;
    }
    .work-page > p {
      font-size: .85rem;
    }

    .work-page__subheading {
      font-size: 1.25rem;
      margin-top: 1rem;
    }
    .work-page__subheading--small {
      font-size: 1.15rem;
      margin-top: 0;
    }

    [class*="block-grid-"] > li {
      padding: 0 0.625rem 0;
    }

  .button--black {
    display: none;
  }

  .social-media {
    padding: 1.25rem 0 0 0;
  }
    .social-media__item {
      border-radius: 3rem;
      height: 2rem;
      margin: 0 0 1rem 0;
      padding: .25rem;
      width: 2rem;
    }

  .copyright {
    font-size: .25rem;
    padding: 0;
    margin: 1rem 0 0 0;
  }

  .line-break {
    display: block;
  }

} /* Define mobile styles for tiny androids */

@media only screen and (min-width: 241px) and (max-width: 40em) {

  .column, .columns {
    padding: 0 .4rem;
  }

  .page__contents {
    padding: 1rem;
  }

    .page__header {
      border-bottom: 1px dotted hsla(0, 0%, 0%, 1);
      padding: 0;
    }

    .page__title {
      font-size: 1.25rem;
      letter-spacing: .025rem;
      margin-top: 1rem;
      text-transform: capitalize;
    }
      .page__title:first-letter {
        font-size: 3.7rem;
        line-height: 3.265rem;
        padding-left: .25rem;
        padding-right: .25rem;
        padding-top: 0;
      }

    .page__value-statement {
      font-size: 1rem;
      line-height: 1.5;
    }

  .portfolio {
    padding: 1.25rem 0 0 0;
  }
    .portfolio__header {
      margin: 0 0 .25rem 0;
    }

    .portfolio__title {
      font-size: 1rem;
    }

  .portfolio__tab {
    display: inline-block;
    margin: .65rem .25rem;
  }

  .portfolio__tab__link {
    font-size: .65rem;
    letter-spacing:  .085rem;
    padding: .25rem;
    width: 4.5rem;
  }

    .portfolio__item {
      padding: .25rem 0;
    }

    .portfolio__item__title {
      font-size: 1rem;
    }

    .portfolio__item__description {
      font-size: 1rem;
    }


  .portfolio__item--web {
    margin: 2rem 0 4rem 0;
    padding: 0;
  }

  .work-item__context {
    font-size: 1.25rem;
  }

  .work-item__title {
    font-size: 1rem;
    line-height: 1.5;
  }

  .work-page {
      margin: 0;
    }
    .work-page__header {
      margin-bottom: 1rem;
    }
    .work-page__context {
      font-size: 1.25rem;
    }
    .work-page__title {
      font-size: 1rem;
    }

    p {
      font-size: 1rem;
    }
    .work-page > p {
      font-size: 1rem;
    }

    .work-page__subheading {
      font-size: 1.5rem;
      margin-top: 1rem;
    }
    .work-page__subheading--small {
      font-size: 1rem;
      margin-top: 0;
    }

    [class*="block-grid-"] > li {
      padding: 0 0.625rem 0;
    }

  .button--black {
    display: none;
  }


.footer {
  margin-bottom: 2rem;
}
  .social-media {
    padding: 1.25rem 0 0 0;
  }
    .social-media__item {
      border-radius: 4rem;
      height: 3rem;
      margin: 0 0 1rem 0;
      padding: .25rem;
      width: 3rem;
    }

  .copyright {
    font-size: .65rem;
    padding: 0;
    margin: 1rem 0 0 0;
  }

  .line-break {
    display: block;
  }

  .invisible--small {
    display: none;
  }


} /* max-width 640px, mobile-only styles, use when QAing mobile issues */


// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .page__contents {
    padding: 1rem;
  }

  .page__title {
    font-size: 2.25rem;
  }
    .page__title:first-letter {
        font-size: 5.5rem;
        line-height: 5.25rem;
        padding-left: .25rem;
        padding-right: .25rem;
        padding-top: 0;
      }

  .page__value-statement {
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .portfolio__tab {
    display: inline-block;
    margin: 1rem;
  }

  .portfolio__tab__link {
    font-size: 1rem;
    letter-spacing:  .1rem;
    padding: .25rem;
    width: 7.5rem;
  }


  .portfolio__item--web {
    margin: 2rem 0;
    padding: 2rem 1rem;
  }

  .work-item__context {
    font-size: 1.25rem;
  }

  .work-item__title {
    font-size: 1rem;
    line-height: 1.5;
  }

  .button.small {
    font-size: .65rem;
    letter-spacing: .065rem;
    text-transform: uppercase;
  }




  .social-media {
    padding: 1.25rem 0 0 0;
  }
    .social-media__item {
      border-radius: 5rem;
      height: 4rem;
      margin: 0 0 1rem 0;
      padding: .5rem;
      width: 4rem;
    }

   .line-break {
    display: block;
  }

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */


// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
