/* COLOR */
/*black: hsla(0, 0%, 0%, 1);*/

/* BASE */
body {
  padding: 3rem;
  min-height: 100%;
}

.title {
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0;
  text-transform: uppercase;
}

.items {
  list-style: none;
  margin-left: 0;
}

.item {
  padding: .65rem;
}

  .item__title {
    text-transform: capitalize;
  }

.italic {
  font-style:  italic;
}


.page__header {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 1);
  padding: 3rem;
}

.page__value-statement {
  color: hsla(0, 0%, 0%, .65);
  font-size: 1.65rem;
  line-height: 1.65;
}

.page__title {
  text-transform: capitalize;
}

.portfolio {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 1);
  padding: 4.25rem 3rem 3rem 3rem;
  text-align: center;
}

  .portfolio__header {
    margin: 0 0 2rem 0;
  }

  .portfolio__title {
    font-size: 1.65rem;
    font-weight: 600;
    letter-spacing: .385rem;
  }

  .portfolio__item__title {
    font-size: 2rem;
    font-weight: 600;
  }

  .portfolio__item__link {
    color: hsla(0, 0%, 0%, 1);
  }

  .portfolio__item__description {
    font-size: 1.65rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
  }
