<div class="row">
<div class="large-12 columns">
  <section>
    <header>
      <h2 class="work-page__subheading work-page__subheading--small">Elements of <span class="line-break">Surprise &amp; Delight</span></h2>
    </header>
    <ul class="large-block-grid-3">
      <li>
        <p class="subheading__note">Full View</p>
        <img src="images/work/digital-storytelling/ds-courthouse-square.jpg">
        <p>The Courthouse Square attraction in full-view.</p>
      </li>
      <li>
        <p class="subheading__note">Detail Highlight</p>
        <img src="images/work/digital-storytelling/ds-courthouse-square-mask.jpg">
        <p>We highlight one of the surprising elements of the attraction and provide curatorial trivia.</p>
      </li>
      <li>
        <p class="subheading__note">Detail View</p>
        <img src="images/work/digital-storytelling/ds-courthouse-square-detail.jpg">
        <p>First introduced in 1858, horse-drawn cars run on iron tracks and move twice as fast as walking. They operate throughout Chicago’s central district but often create traffic jams.</p>
      </li>
    </ul>
    <div class="action">
      <a class="button small radius" ng-click=closeThisDialog("Cancel")>Close</a>
    </div>
  </section>
</div>
</div>
