<div class="row">
<div class="large-12 columns">
  <section>
    <header>
      <h2 class="work-page__subheading work-page__subheading--small">Elements of <span class="line-break">Surprise &amp; Delight</span></h2>
    </header>
    <ul class="large-block-grid-3">
      <li>
        <p class="subheading__note">Full-View</p>
        <img src="images/work/digital-storytelling/ds-courthouse-square.jpg">
      </li>
      <li>
        <p class="subheading__note">Detail Highlight</p>
        <img src="images/work/digital-storytelling/ds-courthouse-square-mask.jpg">
      </li>
      <li>
        <p class="subheading__note">Detail-View</p>
        <img src="images/work/digital-storytelling/ds-courthouse-square-detail.jpg">
      </li>
    </ul>

   <!--  <div class="row">
      <div class="large-5 medium-5 columns">
        <img src="images/work/digital-storytelling/ds-courthouse-square-mask.jpg">
      </div>
      <div class="large-7 medium-7 columns">
        <p>
          About this image
        </p>
      </div>
    </div> -->
    <div class="action">
      <a class="button small radius" ng-click=closeThisDialog("Cancel")>Close</a>
    </div>
  </section>
</div>
</div>
