<ul class="items text-center">
  <li class="item">
    <h3 class="title title--article">
      <a class="article__link" href="https://medium.com/@enriquegonzalez/getting-smart-on-interaction-design-f525c2ca1078" target="_blank">
        Getting Smart <span class="line-break"><span class="lowercase">on</span> Interaction Design</span>
      </a>
    </h3>
    <p class="article__description">
      A brief essay on understanding and <span class="line-break">communicating interaction design.</span>
    </p>
  </li>
   <li class="item">
    <h3 class="title title--article">
      <a class="article__link" href="https://medium.com/front-line-interaction-design/early-thoughts-on-badass-design-7e0a19ce4c47" target="_blank">
        Early Thoughts <span class="lowercase">on</span> Badass Design
      </a>
    </h3>
    <p class="article__description">
      A connection made after 80 pages of Kathy Sierra's latest book.
    </p>
  </li>
 <!--  <li class="item">
    <h3 class="title title--article">
      <a class="article__link" href="https://medium.com/@enriquegonzalez/gravitytanks-internal-reviews-reimagined-7d2bce5de093" target="_blank">
        <span class="lowercase">gravitytank’s</span> <span class="line-break">Internal Reviews Reimagined</span>
      </a>
    </h3>
    <p class="article__description">
      Applying radical innovation to create <span class="line-break">a human-centered application.</span>
    </p>
  </li> -->
  <li class="item">
    <h3 class="title title--article">
      <a class="article__link" href="https://medium.com/@enriquegonzalez/what-middle-schoolers-taught-me-about-prototyping-79fc83871e8b" target="_blank">
        Prototyping <span class="line-break"><span class="lowercase">with</span> Middle Schoolers</span>
      </a>
    </h3>
    <p class="article__description">
      Revealing the benefits of <span class="line-break">contextual inquiry.</span>
    </p>
  </li>
   <li class="item">
    <h3 class="title title--article">
      <a class="article__link" href="https://medium.com/@enriquegonzalez/celebrate-your-failures-685b6b1efe08" target="_blank">
        Celebrate Your Failures
      </a>
    </h3>
    <p class="article__description">
      Share the wisdom your failures provide.
    </p>
  </li>
  <li class="item">
    <h3 class="title title--article">
      <a class="article__link" href="https://medium.com/@enriquegonzalez/notebooks-164430ac5ce6" target="_blank">
        Storytelling <span class="line-break"><span class="lowercase">with</span> simple objects</span>
      </a>
    </h3>
    <p class="article__description">
      Telling the story of everyday things.
    </p>
  </li>
  <li class="item">
    <h3 class="title title--article">
      <a class="article__link" href="https://medium.com/@enriquegonzalez/i-accidentally-built-the-greatest-user-interface-106946b1115e" target="_blank">
        I Accidentally Built <span class="line-break"><span class="lowercase">the</span> Greatest User Interface</span>
      </a>
    </h3>
    <p class="article__description">
      A story about reframing <span class="line-break">and product design.</span>
    </p>
  </li>
</ul>
