<div class="row">
  <div class="large-12 columns">
    <section class="work-page">
      <header class="work-page__header">
        <h2 class="work-page__context">
          Digital Storytelling
        </h2>
        <p class="work-page__title">Visit Lincoln's Chicago</p>
         <img src="images/work/digital-storytelling/digital-storytelling.jpg">
      </header>
      <p>
        In 2011 The Chicago History Museum opened an exhibition titled <span class="italic">Lincoln’s Chicago</span>. The gallery features portraits of Lincoln’s contemporaries, as well as lithograph views created by artist Adolph Kurz depicting Chicago between 1861–1865.  Together, the images provide a glimpse of the city that Lincoln knew – a dynamic young metropolis on the brink of greatness.
      </p>

      <p>Leadership in the Museum identified the exhibition experience as too passive, so they approached me to help enhance the visitor experience. I teamed up with the exhibition curator, an editor, the multimedia assitant, and a flash developer to create <span class="italic">Visit Lincoln’s Chicago</span>&mdash;an interactive digital storytelling experience.</p>


      <h3 class="work-page__subheading">My Role</h3>
      <p>
        I was the User Experience lead on the team. After a curator-led exhibition walkthrough, I had the idea to reframe the visitor’s perspective. Instead of being outside looking in, we should take the visitor inside of the lithographs. Send them on a time travel adventure&mdash;give them context, a starting point, and let them drive the experience. To help bring this idea to life I co-wrote the story with the curator; performed interaction design; and conducted usability tests.
      </p>

      <h3 class="work-page__subheading">Storytelling</h3>
      <p>
        I led four team workshops to help create the story.
      </p>

       <ul class="large-block-grid-2">
        <li><h4 class="work-page__subheading work-page__subheading--small">Themes &amp; Groupings</h4>
        <p class="subheading__note">Workshop &#x23;1</p>
          <p>
            We referenced the lithographs to create an affinity diagram, which generated six categories based on geography and content:</p>
            <ol>
              <li><p>The Heart of Chicago</p></li>
              <li><p>The Commercial District</p></li>
              <li><p>Cultural Attractions</p></li>
              <li><p>Waterways</p></li>
              <li><p>Churches</p></li>
              <li><p>The South Side</p></li>
            </ol>
        </li>
        <li><h4 class="work-page__subheading work-page__subheading--small">Arc &amp; Framework</h4>
        <p class="subheading__note">Workshop &#x23;2</p>
          <p>We used the themes and groupings to create the story arc:</p>
          <p class="italic">
            You journey to 1860s Chicago via train, arriving at the Great Central Depot.  Your first destination is the Sherman House, a hotel that serves as the launch pad for your visit. Stepping outside of your hotel you find a map and tour guide offering visits to several attractions that Chicago has to offer.
          </p>
        </li>
        </ul>
        <ul class="large-block-grid-2">
        <li><h4 class="work-page__subheading work-page__subheading--small">Surprise &amp; Delight</h4>
          <p class="subheading__note">Workshop &#x23;3</p>
          <p>
          I conducted an interview with the curator that revealed moments of surprise and delight in the form of curatorial trivia focused on specific and unique elements found within each lithograph.
          <span class="action">
            <a href="#" class="button small radius button--black" ng-click="openSurprise()">View an example</a>
          </span>
          </p>

        </li>
        <li><h4 class="work-page__subheading work-page__subheading--small">Weaving the Narrative</h4>
        <p class="subheading__note">Workshop &#x23;4</p>
          <p>
            Finally, we used all of the previously generated story assets to write the narrative&mdash;which I used to create the user flow.
          </p>
        </li>
        </ul>

      <h3 class="work-page__subheading">Interaction Design</h3>
      <p>
        I created user-flow diagrams, lo-fi wireframes, and historically accurate map markers which we used to visualize the story.
      </p>

      <h4 class="work-page__subheading work-page__subheading--small">User-Flow</h4>
      <p class="italic"> The clouds are actions taken by the user or system, and the rectangles are views.</p>
      <ul class="large-block-grid-3">
        <li>
          <p class="subheading__note">Start Activity</p>
          <img src="images/work/digital-storytelling/ds-user-flow-start.jpg">
          <p></p>
        </li>
         <li>
          <p class="subheading__note">Navigate Tours &amp; Attractions</p>
          <img src="images/work/digital-storytelling/ds-user-flow-tours.jpg">
          <p></p>
        </li>
         <li>
          <p class="subheading__note">Wayfinding</p>
          <img src="images/work/digital-storytelling/ds-user-flow-wayfinding.jpg">
          <p></p>
        </li>
      </ul>


      <h4 class="work-page__subheading work-page__subheading--small">Lo-Fi Wireframes</h4>
      <div class="row">
      <div class="large-5 medium-5 columns">
        <img src="images/work/digital-storytelling/ds-lofi-wireframes.png">
      </div>
      <div class="large-7 medium-7 columns">
        <p class="work-item__context">
          Fast, Ugly, and Effective
        </p>
        <p class="work-item__title">
          I illustrated and annotated lo-fi wireframes, which we used to visualize the story, build the activity, and for spatial memory.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="large-5 medium-5 columns">
        <img src="images/work/digital-storytelling/ds-historical-markers.jpg">
      </div>
      <div class="large-7 medium-7 columns">
        <p class="work-item__context">
          Historically Accurate Map Markers
        </p>
        <p class="work-item__title">
          I worked closely with the exhibition curator to develop a color coded system of map markers and layers to identify the historically accurate attraction locations, which the developer used for the to maintain the authenticity of the experience.
        </p>
      </div>
    </div>

      <h3 class="work-page__subheading">Usability Testing</h3>
      <p>
        While the high-fidelity and functional prototype was being prepared&mdash;I created the contextual usability test, the facilitator script, assigned test roles, scheduled testing, and corrdinated with the Museum's exhibition team and visitor services staff to help set up our lab.
      </p>
      <p>
        When the prototype was ready we set it up contextually in the gallery and recruited five Museum visitors to help us test. I facilitated the test, the developer and multimedia assitant recorded, and the rest of the team and stakeholders observed.
      </p>

      <ul class="large-block-grid-3">
        <li><h4 class="work-page__subheading work-page__subheading--small">The Test Purpose</h4>
          <p>
         To identify friction points in the activity’s design as encountered by a real user in the natural environment. Specifically we were be looking at navigation, readability, comprehension, and fatigue.
          </p>
        </li>
         <li><h4 class="work-page__subheading work-page__subheading--small">Instructions &amp; Tasks</h4>
         <p class="subheading__note subheading__note--list">Instructions</p>
         <ul>
           <li>Think out loud</li>
           <li>
             Before making any selections on the screen please tell me what you expect to happen.
           </li>
           <li>
              If you read anything on the screen please read it out loud.
           </li>
         </ul>
         <p class="subheading__note subheading__note--list">Tasks</p>
         <ol>
           <li>Select a tour that interests you</li>
           <li>Take the tour to its end</li>
           <li>Select a different tour that interests you</li>
           <li>Take the tour to its end</li>
           <li>End the activity</li>
         </ol>
        </li>
        <li><h4 class="work-page__subheading work-page__subheading--small">Test Results</h4>
            <ol>
            <li>People really enjoyed the activity and were delighted by the tours and trivia</li>
            <li>
              Users are unaware that they have completed a tour
              <ul>
                <li><span class="bold">Resolved:</span> Added a visual notification when all attractions, and attraction details have been viewed. Dialog note and Tour was greyed out.</li>
              </ul>
            </li>
            <li>
              Exiting the activity is not easy for users, their solution is to walk away
              <ul>
                <li><span class="bold">Unresolved:</span> The button is labeled Farewell Chicago, but should really be labeled Exit, Close, or X.</li>
              </ul>
            </li>
          </ol>
        </li>
      </ul>

        <h3 class="work-page__subheading">Challenges</h3>
        <p>I experienced three major challenges while working on Visit Lincoln’s Chicago&mdash;A small budget, limiting technology, and no avenue for incremental innovation.
        </p>

        <ul class="large-block-grid-3">
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Small Budget</h4>
          <p>
            Our budget was $25,000 total including equipment. We did the best we could with such a low budget, but it really limited my vision of creating the next great history video game.
          </p>
        </li>
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Limiting Technology</h4>
          <p>
            The touchscreen we used for the activity needed to be able to stand up to the wear and tear inflicted by Museum visitors on a daily basis. To meet this requirement and stay within budget, the trade off was using a touchscreen that did not recognize contemporary touch gestures. We were limited to touch, press, and drag. Users expected the ability to pinch close and open, unfortunately that was not an option.
          </p>
        </li>
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">No Evolution Plan</h4>
          <p>
            Though the activity is still in use, there is no plan for enhancing or further developing the experience. I would love for this to become a mobile RPG presented by the Museum.
          </p>
        </li>
        </ul>

      <h3 class="work-page__subheading">Results</h3>
        <p>
        </p>
    </section>
  </div>
</div>
