<div class="row">
  <div class="large-12 columns">
    <section class="work-page">
      <header class="work-page__header">
        <h2 class="work-page__context">
          Digital Storytelling
        </h2>
        <p class="work-page__title">Visit Lincoln's Chicago</p>
         <img src="images/work/digital-storytelling/digital-storytelling.jpg">
      </header>
      <p>
        In 2012 The Chicago History Museum opened an exhibition titled <span class="italic">Lincoln’s Chicago</span>. The gallery features portraits of Lincoln’s contemporaries, as well as lithograph views created by artist Adolph Kurz depicting Chicago between 1861–1865.  Together, the images provide a glimpse of the city that Lincoln knew – a dynamic young metropolis on the brink of greatness.
      </p>

      <p>Leadership in the Museum identified the exhibition experience as too passive, so they approached me to help enhance the visitor experience. I teamed up with the exhibition curator, an editor, the multimedia assitant, and a flash developer to create <span class="italic">Visit Lincoln’s Chicago</span>&mdash;an interactive digital storytelling experience.</p>


      <h3 class="work-page__subheading">My Role</h3>
      <p>
        I was the User Experience lead on the team. After a curator-led exhibition walkthrough, I had the idea to reframe the visitor’s perspective. Instead of being outside looking in, we should take the visitor inside of the lithographs. Send them on a time travel adventure&mdash;give them context, a starting point, and let them drive the experience. To help bring this idea to life I co-wrote the story with the curator; performed interaction design; and conducted usability tests.
      </p>

      <h3 class="work-page__subheading">Storytelling</h3>
      <p>
        I led four team workshops to help create the story.
      </p>

       <ul class="large-block-grid-4">
        <li><h4 class="work-page__subheading work-page__subheading--small">Themes &amp; Groupings</h4>
          <p>
            We referenced the lithographs to create an affinity diagram, which generated six categories based on geography and content:</p>
            <ol>
              <li><p>The Heart of Chicago</p></li>
              <li><p>The Commercial District</p></li>
              <li><p>Cultural Attractions</p></li>
              <li><p>Waterways</p></li>
              <li><p>Churches</p></li>
              <li><p>The South Side</p></li>
            </ol>
        </li>
        <li><h4 class="work-page__subheading work-page__subheading--small">Arc &amp; Framework</h4>
          <p>
            You journey to 1860s Chicago via train, arriving at the Great Central Depot.  Your first destination is the Sherman House, a hotel that serves as the launch pad for your visit. Stepping outside of your hotel you find a map and tour guide offering visits to several attractions that Chicago has to offer.
          </p>
        </li>
        <li><h4 class="work-page__subheading work-page__subheading--small">Surprise &amp; Delight</h4>
          <p>I conducted an interview with the curator that revealed moments of surprise and delight in the form of curatorial trivia focused on specific elements found within each lithograph.</p>
        </li>
        <li><h4 class="work-page__subheading work-page__subheading--small">Weaving the Narrative</h4>
          <p>
            Finally, we used all of the previously generated story assets to write the narrative&mdash;which I used to create the user flow.
          </p>
        </li>
        </ul>

      <h3 class="work-page__subheading">Interaction Design</h3>
      <p>
        I created user-flow diagrams, lo-fi wireframes, and historically accurate map markers to the the team visualize the story.
      </p>


       <ul class="large-block-grid-3">

        <li>
          <h4 class="work-page__subheading work-page__subheading--small">IxD</h4>
          <p class="subheading__note">note</p>
          <p></p>

          <h5 class="work-page__subheading--xsmall">Toolkit</h5>
          <p class="italic">

          </p>
        </li>
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Usability Testing</h4>
          <p class="subheading__note">note</p>
          <p>

          </p>
        </li>
      </ul>

        <h3 class="work-page__subheading">Challenges</h3>
        <p>overview
        </p>

        <ul class="large-block-grid-3">
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">challenge 1</h4>
          <p
          </p>
        </li>
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">challenge 2</h4>
          <p>

          </p>
        </li>
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Challenge 3</h4>
          <p>

          </p>
        </li>
        </ul>

      <h3 class="work-page__subheading">Results</h3>
        <p>
        </p>
    </section>
  </div>
</div>
