<div class="row">
  <div class="large-12 columns">
    <section class="work-page">
      <header class="work-page__header">
        <h2 class="work-page__context">
          Digital Storytelling
        </h2>
        <p class="work-page__title">Visit Lincoln's Chicago</p>
         <img src="images/work/digital-storytelling/digital-storytelling.jpg">
      </header>
      <p>
        In 2012 The Chicago History Museum opened an exhibition titled <span class="italic">Lincoln’s Chicago</span>. The gallery features portraits of Lincoln’s contemporaries, as well as lithograph views created by artist Adolph Kurz depicting Chicago between 1861–1865.  Together, the images provide a glimpse of the city that Lincoln knew – a dynamic young metropolis on the brink of greatness.
      </p>

      <p>Leadership in the Museum identified the exhibition experience as too passive, so they approached me to help enhance the visitor experience. I teamed up with the exhibition curator, an editor, the multimedia assitant, and a flash developer to create <span>Visit Lincoln’s Chicago</span>&mdash;a digital storytelling experience.</p>



        <h3 class="work-page__subheading">My Role</h3>
        <p>

        </p>


      <h3 class="work-page__subheading">Process</h3>
        <p>

        </p>

       <ul class="large-block-grid-3">
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Storytelling</h4>
          <p class="subheading__note">note</p>
          <p>

          </p>

          <h5 class="work-page__subheading--xsmall">Toolkit</h5>
          <p class="italic">

          </p>
        </li>
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">IxD</h4>
          <p class="subheading__note">note</p>
          <p></p>

          <h5 class="work-page__subheading--xsmall">Toolkit</h5>
          <p class="italic">

          </p>
        </li>
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Usability Testing</h4>
          <p class="subheading__note">note</p>
          <p>

          </p>
        </li>
      </ul>

        <h3 class="work-page__subheading">Challenges</h3>
        <p>overview
        </p>

        <ul class="large-block-grid-3">
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">challenge 1</h4>
          <p
          </p>
        </li>
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">challenge 2</h4>
          <p>

          </p>
        </li>
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Challenge 3</h4>
          <p>

          </p>
        </li>
        </ul>

      <h3 class="work-page__subheading">Results</h3>
        <p>
        </p>
    </section>
  </div>
</div>
