<div class="row">
  <div class="large-12 columns">
    <section class="work-page">
      <header class="header--section text-center">
        <h2 class="title title--work">
          Educational Product Design
        </h2>
        <p class="subhead subhead--xlarge">The Facing Freedom Web Application</p>
         <img class="title__image" src="images/work/educational-product/facing-freedom.jpg">
      </header>
      <p>
        In 2010 the Chicago History Museum opened <span class="italic">Facing Freedom</span>&mdash;A semi-permanent American History exhibition, which highlights some of the ways Americans have struggled over the true meaning of freedom. The exhibition is targeted at middle school &amp; high-school students, so shortly after the opening, the Museum's education department invited me to help them create a complementary classroom experience. Together we created the <a href="http://facingfreedom.org/" target="_blank"><span class="italic">Facing Freedom</span> web application prototype</a>.
      </p>

      <section>
        <header class="header--section">
          <h3 class="subhead subhead--large">My Role</h3>
        </header>
        <p>
          I was the user experience lead on the team, which included: two Museum educators, a visual designer, and a developer. My core responsibilities were ideation, interaction design, visual design direction, usability testing, and serving as liaison between design and development.
        </p>
      </section>

      <section>
        <header class="header--section">
          <h3 class="subhead subhead--large">Ideation</h3>
        </header>
        <p>
          The physical exhibition presents four ways Americans have defined freedom: <span class="italic">Workers&nbsp;Rights</span>, <span class="italic">Armed&nbsp;Conflict</span>, <span class="italic">Race&nbsp;&amp;&nbsp;Citizenship</span>, and <span class="italic">Public&nbsp;Protest</span>. Through these four themes, you can explore eight powerful American stories.
        </p>
        <p>
          We knew that the exhibition stories would serve as the context of the application, but we needed the classroom teacher perspective to shape the added value. Getting that perspective involved inviting 10 Chicago teachers to form an advisory board. The teachers represented a wide sample of Chicago schools. Their job was to guide us in creating a classroom experience that they would use, and would resonate with their students.
        </p>
        <p>
          Together with the teacher advisory board we discovered three key user experience goals:
        </p>
        <ol>
          <li>
            <p class="no-space text--small">
              <span class="bold">Show &amp; Tell</span>&mdash;Let students explore the artifacts up close.
            </p>
          </li>
          <li>
            <p class="no-space text--small">
              <span class="bold">Help Them Think</span>&mdash;Connect what they've learned about the past to their contemporary life.
            </p>
          </li>
          <li>
            <p class="no-space text--small">
              <span class="bold">Make It Social</span>&mdash;Create a dialogue between students, teachers, and history experts.
            </p>
          </li>
        </ol>

        <p>
          We implemented three experiments to meet the UX requirements: An artifact gallery, <span class="italic">Discuss History Today</span>, and <span class="italic">My Freedom Collection</span>. We would know if these experiments were working if we received positive feedback from teachers and students via qualitative user testing and follow-up surveys.
        </p>
      </section>

      <section>
        <header class="header--section">
          <h3 class="subhead subhead--large">Interaction Design</h3>
        </header>
        <p>
          It was my responsibility to guide the collaborative design of the application features, and figure out how they would work to meet the UX goals.
        </p>
        <p>
          We envisioned the teacher selecting a specific theme, and encouraging students to explore the supporting stories and artifacts. Figuring out how the system would guide students through its features was our team’s responsibility.
        </p>
        <p>
          Below are user-flows I created with the team to describe the Artifact Gallery, <span class="italic">Discuss History Today</span>, and <span class="italic">My Freedom Collection</span> features. Their purpose is to depict how the students and teachers would interact with each feature, and how each feature would respond to the interactions.
        </p>

        <h4 class="subhead subhead--medium">Artifact Gallery</h4>
         <p class="italic"> The clouds are actions taken by the user or system, and the rectangles are views.</p>
        <img src="images/work/educational-product/ep-ag-overview.jpg">
        <p>The artifact gallery is our attempt to meet the <span class="bold">show and tell</span> ux requirement. To experience the artifact gallery, the student reads a story which leads them to its supporting artifact gallery. The gallery allows them to explore individual artifacts through an image viewer that enables them to zoom-in, zoom-out, pan, and reset the display state of an object.</p>

        <h4 class="subhead subhead--medium">Discuss History Today</h4>
        <ul class="large-block-grid-2">
          <li>
            <p class="image__title">Overview</p>
            <img src="images/work/educational-product/ep-dht-overview.jpg">
            <p>The Discuss History Today feature <span class="bold">helps students think</span>, and <span class="bold">creates a social experience</span>. The student reads a story, the story introduces a historian, and the historian prompts the student with a question that encourages them to connect what they’ve learned to a current event. This process initiates a dialogue between the students, the historian, and history.</p>
          </li>
           <li>
            <p class="image__title">Discussion</p>
            <img src="images/work/educational-product/ep-dht-discussion.jpg">
            <p>The dialogue is initiated by the historian. They provide a question and give students feedback on their replies. Discussions are opened and closed based on a pre-determined interval that best suits the teacher and historian schedule. Prior to its closing date, a discussion will notify the participating teachers and historians via e-mail. This notification encourages the historian to provide feedback and a closing remark. For teachers the alert serves as a reminder to review the historian's feedback with their class and reflect on the dialogue.</p>
          </li>
        </ul>


        <h4 class="subhead subhead--medium">My Freedom Collection</h4>
        <img src="images/work/educational-product/ep-mfc-overview.jpg">
          <p>
            The <span class="italic">My Freedom Collection</span> is an experiment that combines all three UX goals of <span class="bold">show and tell</span>, <span class="bold">help students think</span>, and <span class="bold">create a social experience</span>. The feature is a free-form interpretation exercise that encourages students to makes a personal connection with history. The student browses a gallery containing all of the <span class="italic">Facing Freedom</span> artifacts, they select the object(s) that resonate with them, and express their perspective through writing.
          </p>
          <p>
            The student is given the ability to share their interpretation via e-mail. The sharing feature enables teachers to use the <span class="italic">My Freedom Collection</span> feature as an assignment that encourages a thoughtful dialogue with their class.
          </p>
      </section>


      <section>
        <header class="header--section">
          <h3 class="subhead subhead--large">Visual Design</h3>
        </header>
        <p>
          We hired the <span class="italic">Facing Freedom</span> exhibition designer as the visual designer of the <span class="italic">Facing Freedom</span> web application. She didn’t have any experience designing websites or web apps, so I worked closely with her to provide guidance, maintain usability requirements, clarify developer expectations, communicate state, and create the style guide.</p>
        <p>
          Below are sample mockups of the <span class="italic">My Freedom Collection</span> section. As the views were completed and approved the developer used them to create the application.
        </p>
        <ul class="large-block-grid-3">
          <li>
            <p class="image__title">Artifact Selection</p>
            <img src="images/work/educational-product/ep-vd-mfc-gallery.jpg">
          </li>
           <li>
            <p class="image__title">Interpretation</p>
            <img src="images/work/educational-product/ep-vd-mfc-working.jpg">
          </li>
          <li>
            <p class="image__title">Completion</p>
            <img src="images/work/educational-product/ep-vd-mfc-done.jpg">
          </li>
        </ul>
      </section>


      <section>
        <header class="header--section">
          <h3 class="subhead subhead--large">Contextual Inquiry &amp; Usability Testing</h3>
        </header>
        <p>
          When the prototype was ready for users, five teachers from our advisory board invited us into their classrooms to test it with their students. I created the test and performed it in collaboration with Museum educators and school teachers. We had little experience designing technology for classrooms, so contextual inquiry was a must.
        </p>
        <h4 class="work-page__subheading work-page__subheading--small">Contextual Inquiry</h4>
          <p>
            The purpose of our contextual inquiry was to increase our understanding and ability to design classroom experiences for teachers and students. While performing the usability test I documented equipment available and used; the classroom setting; time allowed in the setting; use of paper and other non-technology materials and tools; user input preferences (mouse, keyboard, touch, etc); and collaboration and interactions among students and with their teacher. Through contextual inquiry we learned about the real-world we were designing for, and are able to make smarter decisions because of it.
          </p>

        <h4 class="work-page__subheading work-page__subheading--small">The Usability Test</h4>
          <p>
            We took a hybrid qualitative and quantitative test approach to learn the effectiveness of the Facing Freedom web application in meeting its user experience goals. We used the results of the test to refine the prototype and gain insight into our users behavior.
          </p>
          <p>
            The qualitative portion of the test involved facilitating, observing, and recording single student interactions with the application in a classroom setting. The quantitative portion involved SurveyMonkey surveys submitted by students and teachers following the qualitative test, as well as a Crazy Egg heatmap recording of the student interactions.
          </p>

        <h5 class="work-page__subheading work-page__subheading--xsmall">Instructions &amp; Tasks</h5>
        <p>For the test, we instructed the teacher to physically divide her class into two groups. One group would use the <span class="italic">Discuss History Today</span> feature, and the other would use <span class="italic">My Freedom Collection</span>.</p>
        <ul class="large-block-grid-2">
          <li>
           <p class="subheading__note subheading__note--list">Discuss History Today</p>
          <p>Visit the Facing Freedom website, http://facingfreedom.org</p>
          <p>Today we are learning about <span class="italic">Public Protest</span>, please perform the following four tasks:</p>
          <ol>
            <li><p>Explore the <span class="italic">Public Protest</span> section of website</p></li>
            <li><p>Answer the historian’s question</p></li>
            <li><p>Give your teacher proof of your answer</p></li>
            <li><p>Fill out the survey at http://survemonkey/link</p></li>
          </ol>

         </li>
          <li>
           <p class="subheading__note subheading__note--list">My Freedom Collection</p>
           <p>Visit the Facing Freedom website, http://facingfreedom.org</p>
           <p>Today we are learning about the <span class="italic">Facing Freedom</span> collection, please perform the following four tasks:</p>
           <ol>
            <li><p>Go to the <span class="italic">My Freedom Collection</span> section of the website</p></li>
            <li><p>Complete a <span class="italic">Freedom Collection</span></p></li>
            <li><p>Share your <span class="italic">Freedom Collection</span> with your teacher</p></li>
            <li><p>Fill out the survey at http://survemonkey/link</p></li>
           </ol>
          </li>
         </ul>

          <h5 class="work-page__subheading work-page__subheading--xsmall">Test Results</h5>
          <p>We caught usability issues, witnessed unexpected behaviors, observed moments of delight, and gained insights that would not have been revealed in a lab setting. Below are a few examples:</p>
          <ul class="large-block-grid-3">
          <li>
           <p class="subheading__note subheading__note--list">Usability Issues</p>
           <ul>
             <li><p>Many students were not aware that they could zoom on collection objects</p></li>
             <li><p>Our collection videos were not viewed because we hosted them on YouTube without realizing that schools block social media access</p></li>
             <li><p>Many of the public school computer labs we visited had outdated web browsers, which would not run our application.</p></li>
           </ul>
         </li>
          <li>
           <p class="subheading__note subheading__note--list">Unexpected Behavior</p>
           <ul>
             <li><p>Students read thoroughly prior to interacting with elements</p></li>
             <li><p>Search was heavily used&mdash;some students even dragged and dropped main navigation tabs into the search box</p></li>
             <li><p>Prior to answering the historian's question in the <span class="italic">Discuss History Today</span> feature, students required reassurance that it was OK to state their opinion.</p></li>
           </ul>
         </li>
         <li>
           <p class="subheading__note subheading__note--list">Moments of Delight</p>
           <ul>
             <li><p>When students realized that they could zoom in and get detailed views of artifacts, they smiled and voiced how cool it was.</p></li>
             <li><p>Students enjoyed the ability to express their opinion when replying to the <span class="italic">Discuss History Today</span> question, and when commenting on each others replies</p></li>
             <li><p>A teacher enthusiastically expressed how pleased and surprised she was by the amount of writing done by her class. She also stated how unexpected this behavior was from some of the students.</p></li>
           </ul>
         </li>
         </ul>
      </section>

      <section>
        <header class="header--section">
          <h3 class="subhead subhead--large">Challenges</h3>
        </header>
        <p>
          This is certainly one of the most complex and rewarding products I've had the privilege to work on, but it was not without its challenges. We had a minimal budget to work with, we failed to manage expectations regarding the resources required to maintain the application, and failed to gain the necessary institutional buy-in required to nurture the project.
        </p>

        <ul class="large-block-grid-3">
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Small Budget</h4>
          <p>
            We only had $25,000 to work with for design, development, and maintaining one year of the pilot. This budgeted limited the amount of interaction the core team had with the outsourced visual designer and developer. For example, we could not afford to invite them to observe the usability testing which had a direct impact on their deliverables.
          </p>
        </li>
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Managing Expectations</h4>
          <p>
            We planned for one year of live prototyping to stress test the application in real-world conditions. Those real-world conditions; however, revealed that the Museum was not ready to support this initiative. We soon realized how many dedicated resources the application required to provide the value we designed for. Due to our limited budget and additional Museum responsibilities, we were not equipped to provide those resources.
          </p>
        </li>
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Institutional Buy-in</h4>
          <p>
            We failed to pitch the project at the Museum leadership level, so when it came time to address the issues revealed during live prototyping we didn’t have the necessary support to implement solutions, or maintain the application scope.
          </p>
        </li>
        </ul>
      </section>

      <section>
        <header class="header--section">
          <h3 class="subhead subhead--large">Results</h3>
        </header>
        <div class="row">
        <div class="large-5 medium-5 columns">
          <img src="images/work/educational-product/ep-ff-home.jpg">
        </div>
        <div class="large-7 medium-7 columns">
          <ol>
            <li><p><span class="bold">A Successful User Experience</span>&mdash;We met our UX goals; students were engaged and empowered to make thoughtful and meaningful connections with history</p></li>
            <li><p><span class="bold">Product Simplification</span>&mdash;The Museum could not support the <span class="italic">Discuss History Today</span> and <span class="italic">My Freedom Collection</span> features which provided the core value of the application. To preserve some of the value we created for users, we decided to remove the application features and transform <span class="italic"><a href="http://facingfreedom.org" target="_blank">Facing Freedom</a></span> into a static educational website. The website now provides students with great American history stories and the ability to explore their supporting artifacts.</p></li>
            <li><p><span class="bold">Invaluable Experience</span>&mdash;Creating the Facing Freedom web application with all of its complexities made me a smarter designer. I learned how to better consider a product’s ecosystem, witnessed the importance of institutional buy-in, and the gained value from <a href="https://medium.com/@enriquegonzalez/celebrate-your-failures-685b6b1efe08" targer="_blank">celebrating my failures</a>.</p></li>
          </ol>
        </div>
        </div>
      </section>

    </section>
  </div>
</div>
