<div class="row">
  <div class="large-12 columns">
    <section class="work-page">
      <header class="work-page__header">
        <h2 class="work-page__context">
          Educational Product Design
        </h2>
        <p class="work-page__title">Facing Freedom Web Application</p>
         <img src="images/work/educational-product/facing-freedom.jpg">
      </header>
      <p>
        In 2010 the Chicago History Museum opened <span class="italic">Facing Freedom</span>&mdash;A semi-permanent American History exhibition, which highlights some of the ways Americans have struggled over the true meaning of freedom. The exhibition is targeted at middle school &amp; high-school students, so the Museum's education department invited me to help them create a complementary classroom experience. Together we created the <a href="http://facingfreedom.org/" target="_blank"><span class="italic">Facing Freedom</span> web application</a>.
      </p>

      <h3 class="work-page__subheading">My Role</h3>
      <p>
        I was the user experience lead on the team, which inlcuded: two Museum educators, a visual designer, and a developer. My core responsibilities on the team were ideation, interaction design, visual design direction, usability testing, and liason between design and development.
      </p>

      <h3 class="work-page__subheading">Ideation</h3>
      <p>
        The physical exhibition presents four ways Americans have defined freedom: <span class="italic">Workers&nbsp;Rights</span>, <span class="italic">Armed&nbsp;Conflict</span>, <span class="italic">Race&nbsp;&amp;&nbsp;Citizenship</span>, and <span class="italic">Public&nbsp;Protest</span>. Through these four themes, you can explore eight powerful American stories.
      </p>
      <p>
        We knew that we would provide the exhibition stories as the context of the application, but needed the classroom teacher perspective to shape the added value of the application. To get that perspective we invited 10 Chicago teachers to form an advisory board. The teachers represented a wide sample of Chicago schools: public, private, affluent, and poor. Their job was to guide us in creating a classroom experience that they would use, and would resonate with their students.
      </p>
      <p>
        After a couple of workshops with the teacher advisory board, we landed on three key experience requirements:
      </p>
      <ol>
        <li><span class="bold">Show &amp; Tell</span>&mdash;Let them explore the artifacts up close.</li>
        <li><span class="bold">Help Them Think</span>&mdash;Connect what they've learned about the past to their life.</li>
        <li><span class="bold">Make It Social</span>&mdash;Create a dialogue between students, teachers, and history.</li>
      </ol>

      <p>
        We implemented three features to meet the above requirements: An artifact gallery, Discuss History Today, and My freedom collection.
      </p>

      <h3 class="work-page__subheading">Interaction Design</h3>
      <p>
        We envisioned the teacher selecting a specific theme, and encouraging students to explore the supporting artifacts. Figuring out how to lead students through the application features was my responsibility. Below are userflows I created that describe the Artifact Gallery, Discuss History Today, and My Freedom Collection features and depict how the students and teachers interact with them.
      </p>

      <h4 class="work-page__subheading work-page__subheading--small">Artifact Gallery</h4>
      <p>Pending&hellip;</p>

      <h4 class="work-page__subheading work-page__subheading--small">Discuss History Today</h4>
      <p class="italic"> The clouds are actions taken by the user or system, and the rectangles are views.</p>
      <ul class="large-block-grid-2">
        <li>
          <p class="image__title">Overview</p>
          <img src="images/work/educational-product/ep-dht-overview.jpg">
          <p>Discuss History Today is a feature that meets the help them think, and make it social experience requirements. The student reads the story, the story introduces a historian, the historian prompts the student with a question that encourages the student to connect what they learned in the story to a current event, and this initiates a dialogue between the students, the historian, and history.</p>
        </li>
         <li>
          <p class="image__title">Discussion</p>
          <img src="images/work/educational-product/ep-dht-discussion.jpg">
          <p>The historian initiates the discussion and serves as a moderator by providing feedback to student replies. Discussions are open and closed based on a pre-determined interval that best suits the teacher and historian schedule, and prior to closing they notify both the teachers and historians via e-mail. This notification alerts the historian to encourage them to provide feedback, and provide a closing remark. For teachers the alert serves to encourage their class to review the historian's feedback, and reflect on the dialogue.</p>
        </li>
      </ul>


      <h4 class="work-page__subheading work-page__subheading--small">My Freedom Collection</h4>
      <img src="images/work/educational-product/ep-mfc-overview.jpg">
        <p>
          The My Freedom Collection feature is a freeform interpretation exercise that encourages students to makes a personal connection with history. The student browses a gallery containing all of the <span class="italic">Facing Freedom</span> artifacts, they select the object(s) that resonate with them, and express their perspective through writing.
        </p>
        <p>
          The student is given the ability to share their interpretation via e-mail. The sharing feature enables teachers to use the <span class="italic">My Freedom Collection</span> feature as an assignment that encourages a thoughtful dialogue with their class.
        </p>


      <h3 class="work-page__subheading">Visual Design</h3>
      <p>
        We hired the <span class="italic">Facing Freedom</span> exhibition designer as the visual designer of the <span class="italic">Facing Freedom</span> web aplication. She didn’t have any experience designing websites or web apps, so I worked closely with her to provide guidance, maintain usability requirements, clarify developer expectations, communicate state, and create the style guide. Below are sample mockups of the <span class="italic">My Freedom Collection</span> section. As the views were completed and approved the developer used them to create the application.
      </p>
      <ul class="large-block-grid-3">
        <li>
          <p class="image__title">Artifact Selection</p>
          <img src="images/work/educational-product/ep-vd-mfc-gallery.jpg">
          <p>Communicating user state, the gallery structure, instructions, gallery filters, unselected state, unselected hover state, selected state, and selected hover state.</p>
        </li>
         <li>
          <p class="image__title">Interpretation</p>
          <img src="images/work/educational-product/ep-vd-mfc-working.jpg">
          <p>Showing state, My Feedom Collection structure, and interpretation tools.</p>
        </li>
        <li>
          <p class="image__title">Completion</p>
          <img src="images/work/educational-product/ep-vd-mfc-done.jpg">
          <p>More state, final product, and sharing tools.</p>
        </li>
      </ul>


      <h3 class="work-page__subheading">Contextual Inquiry &amp; Usability Testing</h3>
      <p>
        While the functional application prototype was being developed I performed expert reviews to catch the obvious ux issues and prepare it for user testing. I worked closely with the educators to create a contextual inquiry plan, contextual usability test, facilitator script, and assign test roles.
      </p>
      <p>
        When the prototype was ready, five teachers from our advisory board invited us into their classrooms to test the prototype with their students.
      </p>

      <h4 class="work-page__subheading work-page__subheading--small">Contextual Inquiry</h4>
        <p>
          The purpose of the contextual inquiry was to increase our understanding and ability to design classroom experiences for teachers and student’s. While performing the usability test I documented equipment available and used, the classroom setting, time allowed in the setting, Use of paper and other non-technology materials and tools, input preferences (mouse, keyboard, touch, etc), and collaboration and interactions among students and with their teacher.
        </p>

      <h4 class="work-page__subheading work-page__subheading--small">The Test Purpose</h4>
          <p>
         Pending&hellip;
          </p>

      <h4 class="work-page__subheading work-page__subheading--small">Instructions &amp; Tasks</h4>
         <ul class="large-block-grid-2">
        <li>
         <p class="subheading__note subheading__note--list">Group A</p>
         Pending&hellip;
<!--          <ul>
           <li>Think out loud</li>
           <li>
             Before making any selections on the screen please tell me what you expect to happen
           </li>
           <li>
              If you read anything on the screen please read it out loud
           </li>
         </ul>
         <p class="subheading__note subheading__note--list">Tasks</p>
         <ol>
           <li>Select a tour that interests you</li>
           <li>Take the tour to its end</li>
           <li>Select a different tour</li>
           <li>Take the tour to its end</li>
           <li>End the activity</li>
         </ol>
 -->        </li>
        <li>
         <p class="subheading__note subheading__note--list">Group B</p>
         Pending&hellip;
         <!-- <ul>
           <li>Think out loud</li>
           <li>
             Before making any selections on the screen please tell me what you expect to happen
           </li>
           <li>
              If you read anything on the screen please read it out loud
           </li>
         </ul>
         <p class="subheading__note subheading__note--list">Tasks</p>
         <ol>
           <li>Select a tour that interests you</li>
           <li>Take the tour to its end</li>
           <li>Select a different tour</li>
           <li>Take the tour to its end</li>
           <li>End the activity</li>
         </ol> -->
        </li>
        </ul>

        <h4 class="work-page__subheading work-page__subheading--small">Test Results</h4>
           Pending&hellip;
           <!--  <ol>
            <li>People really enjoyed the activity and were delighted by the tours and trivia</li>
            <li>
              Users were unaware when they completed a tour
              <ul>
                <li><span class="bold">Resolved:</span> Added a visual notification when all attractions, and attraction details have been viewed. A dialog note appears and the completed tour is greyed out.</li>
              </ul>
            </li>
            <li>
              Exiting the activity is not easy for users, their solution is to walk away
              <ul>
                <li><span class="bold">Unresolved:</span> The exit button is labeled Farewell Chicago. It should be labeled canonically with "Exit", "Close", or "X".</li>
              </ul>
            </li>
          </ol>
 -->
        <h3 class="work-page__subheading">Challenges</h3>
        <p>Pending&hellip;
        </p>

        <ul class="large-block-grid-3">
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Small Budget</h4>
          <p>
            Pending&hellip;
          </p>
        </li>
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Institutional Buy-in</h4>
          <p>
            Pending&hellip;
          </p>
        </li>
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Managing Expectations</h4>
          <p>
            Pending&hellip;
          </p>
        </li>
        </ul>

      <h3 class="work-page__subheading">Results</h3>
      <div class="row">
      <div class="large-5 medium-5 columns">
        <img src="images/work/educational-product/ep-ff-home.jpg">
      </div>
      <div class="large-7 medium-7 columns">
        Pending&hellip;
      </div>
    </div>

    </section>
  </div>
</div>
