<div class="row">
  <div class="large-12 columns">
    <section class="work-page">
      <header class="work-page__header">
        <h2 class="work-page__context">
          End-to-End Prototyping
        </h2>
        <p class="work-page__title">gravitytank Internal Reviews Redefined</p>
         <img src="images/work/feedback.jpg">
      </header>
      <p>
        From May to August 2014, I worked with <a href="http://www.gravitytank.com/about">gravitytank</a> to reimagine their internal staff review experience. They presented me with a problem and a concept. 10 weeks later I gave them a user-centric, functional, and high-fidelity prototype of a feedback system that they continue to evolve today.
      </p>

      <p>
        gravitytank's previous review system was a traditional one&mdash;Staff performs work and their superiors review their performance based on predefined institutional metrics. This wasn’t working for anyone for a number of reasons:
      </p>

          <ol>
            <li>The review was one-directional</li>
            <li>The process broke the staff’s naturally ocurring feedback flow</li>
            <li>The results of the process produced little-to-no value</li>
            <li>The review tool was archaic in design and technology</li>
          </ol>

        <h3 class="work-page__subheading">My Role</h3>
        <p>
          Because innovation is gravitytank’s bread and butter, they discovered a potential solution to their internal review problem. As users of the product they found themselves too close to the project, and needed an objective outsider to help validate their concept and ease them into a self-design process. I was the objective outsider&mdash;better known as the interaction design contractor.
        </p>

      <ul class="large-block-grid-2">
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Scope Definition</h4>
          <p>
            I partnered with gravitytank operations and interaction design leadership, human resources, and engineering to define the core value and scope of the feedback prototype. The feedback application enhances the naturally ocurring feedback between gravitytank staff.
          </p>
        </li>

        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Product Ownership</h4>
          <p>
            From concept to prototype I shaped the feedback application by managing the design and development schedule, performing the design and development work, negotiating and prioritizing features, leading weekly team check-ins, and adjusting accordingly.
          </p>
        </li>
      </ul>


      <h3 class="work-page__subheading">Lean, Agile, &amp; Human-Centered</h3>
        <p>
          In order to deliver a complete product prototype in 10 weeks I applied lean UX principles, <a href="https://gettingreal.37signals.com/ch09_Epicenter_Design.php">epicenter&nbsp;design</a>, rapid prototyping methods, and weekly development sprints.
        </p>

       <ul class="large-block-grid-3">
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Get Smart</h4>
          <p class="subheading__note">3 weeks</p>
          <p>
            I performed formative research to learn about gravitytank staff, structure, and business; created a draft schedule; mapped my approach; mapped the system; and generated consensus with stakeholders.
          </p>

          <h5 class="work-page__subheading--xsmall">Toolkit</h5>
          <p class="italic">
            HR documents; user interviews; Basecamp; user stories; sketches: user flows, scope diagrams, entity relationship models, and CRUD views; and closed card sorting.
          </p>
        </li>
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Sketch to Code</h4>
          <p class="subheading__note">6 weeks</p>
          <p>I used notes and sketches generated in the <span class="italic">Get Smart</span> stage to produce a key application feature for the team to test, review, and discuss.</p>

          <h5 class="work-page__subheading--xsmall">Toolkit</h5>
          <p class="italic">
            SCRUM board, Ruby on Rails, PostgreSQL, Devise, Bower, Foundation, HTML, CSS, AngularJS, GitHub, Heroku, and Google Sheets for bug tracking.
          </p>
        </li>
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Deliver and Reflect</h4>
          <p class="subheading__note">1 week</p>
          <p>
            During the last week of the project I met regularly with the production team for general walk-through, to discuss pending product decisions, and to fix as many technical bugs as possible. My final check-in was with senior leadership in operations and interaction design. I asked them for brutally honest feedback and they gave it.
          </p>
        </li>
      </ul>

      <h3 class="work-page__subheading">Results</h3>
        <p>

        </p>

    </section>
  </div>
</div>
