<div class="row">
  <div class="large-12 columns">
    <section class="work-page">
      <header class="header--section text-center">
        <h2 class="title title--work">
          End-to-End Prototyping
        </h2>
        <p class="subhead subhead--xlarge">gravitytank Internal Reviews Redefined</p>
         <img class="title__image" src="images/work/end-to-end-prototyping/feedback.jpg">
      </header>
      <p>
        gravitytank believes in empowering their staff&mdash;unfortunately they used an internal staff review system which wasn’t helping them do this, and wasn’t a good fit for their environment. Innovation is gravitytank’s bread and butter, so they came up with a great idea on how to get the value they were looking for.
      </p>
      <p>
        Their idea was to do away with the traditional review system, and create a mechanism that empowers staff to declare their professional goals and receive the contextual feedback to help achieve them. The experiment we performed to achieve this was creating the <span class="italic">Feedback</span> web application.
      </p>
      <p>
        From May to August 2014, I worked with <a href="http://www.gravitytank.com/about">gravitytank</a> to create the <span class="italic">Feedback</span> prototype. They presented me with the problem and a concept; 10 weeks later we had a functional user-centric high-fidelity prototype, which they continue to use and evolve today.
      </p>

        <section>
          <header class="header--section">
            <h3 class="subhead subhead--large">My Role</h3>
            <div class="row">
              <div class="large-9 columns">
                <p>
                As interaction designer on this project I had three main responsibilities: providing objectivity, sharing product ownership, and performing full-stack prototyping.
                </p>
              </div>
            </div>
          </header>

        <ul class="large-block-grid-3">
          <li>
            <h4 class="subhead subhead--medium">Objectivity</h4>
            <p class="text--small">
              gravitytank has the capabilities to design and engineer web applications. As users of the <span class="italic">Feedback</span> application, they felt a need to include an objective party in the early stages of product design. It was my role to think outside of gravitytank, and challenge their idea by finding and using multiple perspectives&mdash;including my own.
            </p>
          </li>

          <li>
            <h4 class="subhead subhead--medium">Shared Ownership</h4>
            <p class="text--small">
              I partnered with key stakeholders at gravitytank for guidance, but during my time on the project I had to share ownership of <span class="italic">Feedback</span>. To share the ownership, it was my responsibility to build and maintain a shared understanding with the team.
            </p>
            <p class="text--small">
              Some of the ways I achieved this was by helping to define the core value of the application and interpreting its vision. Together we defined the core value as: <span class="bold italic">enhancing the naturally occurring feedback between gravitytank staff</span>.
            </p>
          </li>

          <li>
            <h4 class="subhead subhead--medium">Full-Stack Prototyping</h4>
            <p class="text--small">
              I shaped the feedback application by managing the design and development schedule, performing the design and development work, negotiating and prioritizing features, leading weekly team check-ins, and adjusting accordingly.
            </p>
          </li>
        </ul>
      </section>


      <section>
        <header class="header--section">
          <h3 class="subhead subhead--large">Lean, Agile, &amp; Human-Centered</h3>
          <div class="row">
            <div class="large-10 columns">
              <p>
                To deliver the prototype in 10 weeks I applied the lean UX process, <a href="https://gettingreal.37signals.com/ch09_Epicenter_Design.php">epicenter&nbsp;design</a>, rapid prototyping methods, and weekly development sprints. Below are the main project stages and tools used:
              </p>
            </div>
          </div>
        </header>

         <ul class="large-block-grid-3">
          <li>
            <h4 class="subhead subhead--medium">Get Smart</h4>
            <p class="text--small work-time">3 weeks</p>
            <p class="text--small">
              I planned my approach; performed formative research to learn about the application’s users and its ecosystem; partnered with stakeholders, engineers, and designers to sketch the system architecture; built a shared understanding of the problem and experiement; drafted the project schedule; and finaly presented my plan, verified the shared understanding with the team and received sign-off.
            </p>

            <h5 class="subhead subhead--small">Toolkit</h5>
            <p class="text--small italic">
              HR documents; user interviews; Basecamp; user stories; sketches: user flows, scope diagrams, entity relationship models, and CRUD views; and closed card sorting for Information Architecture.
            </p>
          </li>
          <li>
            <h4 class="subhead subhead--medium">Build &amp; Deliver</h4>
            <p class="text--small work-time">6 weeks</p>
            <p class="text--small">I used artifacts generated in the <span class="italic">Get Smart</span> stage to produce and ship key application features&mdash;on a weekly basis&mdash;for the team to review, discuss, test, and refine.</p>

            <h5 class="subhead subhead--small">Toolkit</h5>
            <p class="text--small italic">
              SCRUM board, Ruby on Rails, PostgreSQL, Devise, Bower, Foundation, HTML, CSS, AngularJS, GitHub, Heroku, and Google Sheets for bug tracking.
            </p>
          </li>
          <li>
            <h4 class="subhead subhead--medium">Refine &amp; Reflect</h4>
            <p class="text--small work-time">1 week</p>
            <p class="text--small">
              During the last week of the project I met regularly with the production team for general walkthroughs; to discuss pending product decisions; and to catch, document, and fix as many technical bugs as possible. At the end, the team assembled together for a final check-in to reflect on the work.
            </p>
          </li>
        </ul>
      </section>


      <section>
        <header class="header--section">
          <h3 class="subhead subhead--large">Challenges</h3>
          <div class="row">
            <div class="large-10 columns">
              <p>
                I experienced three major challenges while working on <span class="italic">Feedback</span>: earning trust, complex authorization, and feature creep. Below are key takeaways:
              </p>
            </div>
          </div>
        </header>
        <ul class="large-block-grid-3">
        <li>
          <h4 class="subhead subhead--medium">Earning trust</h4>
          <p class="text--small">
            I implemented a lean design process to meet the short timeline of the project. To move the prototype forward at a fast rate I jumped from sketches to code, and gravitytank made that leap with me. I sensed tension in the team during that transition, and later learned that it could have been avoided by providing a couple of polished visual mockups of application views. When working with a new team this step should be clearly negotiated.
          </p>
        </li>
        <li>
          <h4 class="subhead subhead--medium">Complex authorization</h4>
          <p class="text--small">
             <span class="italic">Feedback</span>, as I designed it, resembles a managed social network. It consists of multi-dimensional user relationships determined by an admin, the user, the user’s context, the organization’s structure, and predetermined intervals. The app could not provide its core value without these rules in place, and I underestimated their complexity.
         </p>
         <p class="text--small">
            Thankfully, I built a shared understanding of the system with engineers early on, and they were able to quickly guide me through this challenge. <span class="bold">If the application you’re building requires users to interact with each other, then design those rules early on and implement them as dependencies arise</span>.
          </p>
        </li>
        <li>
          <h4 class="subhead subhead--medium">Feature Creep</h4>
          <p class="text--small">
            This is a constant in every project and defining the core value with stakeholders is essential for prevention. Using the core value statement as a guide helped me negotiate and prioritize features.
          </p>
        </li>
        </ul>
      </section>

      <section>
        <header class="header--section">
          <h3 class="subhead subhead--large">Results</h3>
        </header>
        <p>In the end I <span class="bold">exceeded stakeholder expectations</span>&mdash;they were delighted by my work and process; I <span class="bold">generated production team happiness</span>&mdash;they were able to take my prototype and immediately start working on it with out technical difficulties; and <span class="bold">created a product</span>&mdash;the <span class="italic">Feedback</span> prototype is now a gravitytank product, which they continue to use and evolve today.
        </p>
      </section>
    </section>
  </div>
</div>
