<div class="row">
  <div class="large-12 columns">
    <section class="work-page">
      <header class="work-page__header">
        <h2 class="work-page__context">
          End-to-End Prototyping
        </h2>
        <p class="work-page__title">gravitytank Internal Reviews Redefined</p>
         <img src="images/work/feedback.jpg">
      </header>
      <p>
        From May to August 2014, I worked with <a href="http://www.gravitytank.com/about">gravitytank</a> to reimagine their internal staff review experience. They presented me with a problem and a concept. 10 weeks later I gave them a user-centric, functional, and high-fidelity prototype of a feedback system that they continue to evolve today.
      </p>

      <p>
        gravitytank's previous review system was a traditional one&mdash;Staff performs work and their superiors review their performance based on predefined institutional metrics. This wasn’t working for anyone for a number of reasons:
      </p>

          <ol>
            <li>The review was one-directional</li>
            <li>The process broke the staff’s naturally ocurring feedback flow</li>
            <li>The results of the process produced little-to-no value</li>
            <li>The review tool was archaic in design and technology</li>
          </ol>

        <h3 class="work-page__subheading">My Role</h3>
        <p>
          Because innovation is gravitytank’s bread and butter, they discovered a potential solution to their internal review problem. As users of the product they found themselves too close to the project, and needed an objective outsider to help validate their concept and ease them into a self-design process. I was the objective outsider&mdash;better known as the interaction design contractor.
        </p>

      <ul class="large-block-grid-2">
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Scope Definition</h4>
          <p>
            I partnered with gravitytank operations and interaction design leadership, human resources, and engineering to define the core value and scope of the feedback prototype. The feedback application enhances the naturally ocurring feedback between gravitytank staff.
          </p>
        </li>

        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Product Ownership</h4>
          <p>
            From concept to prototype I shaped the feedback application by managing the design and development schedule, performing the design and development work, negotiating and prioritizing features, leading the team dialogue on a weekly basis, and adjusting accordingly.
          </p>
        </li>
      </ul>


      <h3 class="work-page__subheading">My Process: Lean, Agile, &amp; Human-Centered</h3>
        <p>
          I applied lean UX principles, epicenter design, rapid prototyping methods, and weekly development sprints to maintain product quality, schedule, and cost.
        </p>

       <ul class="large-block-grid-3">
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Getting Smart</h4>
          <p></p>
        </li>
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Sketch to Code</h4>
          <p></p>
        </li>
        <li>
          <h4 class="work-page__subheading work-page__subheading--small">Delivery and Reflection</h4>
          <p></p>
        </li>
      </ul>

    </section>
  </div>
</div>
