<div class="row">
  <div class="large-12 columns">
    <section class="work-page">
      <header class="work-page__header">
        <h2 class="work-page__context">
          Simple &amp; Impactful Innovation
        </h2>
        <p class="work-page__title">The Museum's Photo Collection</p>
        <ul class="large-block-grid-3">
        <li>
          <img src="http://40.media.tumblr.com/tumblr_mcezbmlSYw1r1g51jo1_500.jpg">
          <p class="text--left">Man tossing a child into the air at 57th Street Beach. Child unimpressed by gravity.  ICHi-65896, photograph by Stephen Marc, 1988. </p>
        </li>
        <li>
          <img src="http://41.media.tumblr.com/tumblr_mej12evlnD1r1g51jo1_500.jpg">
          <p class="text--left">Casey Jones (also known as “Chicken Charlie”), playing the accordion on Maxwell Street, 1963, Chicago, Illinois.  ICHi-51943, Photograph by James Newberry.</p>
        </li>
        <li>
          <img src="http://36.media.tumblr.com/tumblr_me7ltwWzdv1r1g51jo2_500.jpg">
          <p class="text--left">Cyrus “Cy” DeVry, the Lincoln Park Zoo’s first director, holding Peccaries in 1903, Chicago, Illinois. DN-0000294, Photograph by Chicago Daily News, Inc.</p>
        </li>
      </ul>
      </header>

      <p>
        The Chicago History Museum has over two million photographs in its collection. Only a small sample of the collection is digitized, and before I started this project it was not publicly accessible. You had to physically visit the Museum's research center in order to navigate your way through a small portion the images. There were no resources for an online Digital Asset Management system; no money to buy one, and no one to create it.
      </p>
      <p>
        <span class="bold">It is the Museum's mission to share Chicago's story.</span> The images resonated with me; I considered them to be among the Museum’s most compelling storytelling materials, so I made it a personal goal to help the Museum share them with the world.
      </p>

      <h3 class="work-page__subheading">My Role</h3>
      <p>
        As the Multimedia Designer for the Museum I was constantly discovering its great images. I wanted to share the images, delight people with them, and hopefully use them to create a new wave of history enthusiasts; I wanted to create the <span class="italic">National Geographic</span> of urban history.
      </p>
       <p>
        My idea involved using social media to present the images to the public. Using social media provided us with a low-cost technical solution, it allowed us to ship fast, and enabled us to leverage our existing communities to promote this new initiative.
      </p>
      <p>
        To bring the idea to life I partnered with the photography collection stakeholders; developed the strategy, executed on it, and measured its impact.
      </p>

      <h3 class="work-page__subheading">Strategy &amp; Execution</h3>
      <p>
        I pitched the idea to my supervisor and received her blessings. My next step was selling the idea to the photo collection stakeholders: the director of collections, the rights and reproductions team, and photolab staff.
      </p>
      <p>
        The director of collections was hesitant because one of the Museum's key businesses is the licensing and reproduction of the photographs, so preserving the image rights and license was a must.
      </p>

      <div class="row">
      <div class="large-5 medium-5 columns">
        <img src="images/work/simple-innovation/museum-photo-collection.jpg">
      </div>
      <div class="large-7 medium-7 columns work-page__media">
        <p>
        We sat with the Museum's legal advisor and reviewed the Terms of Service for five major social networks. In the end I received legal sign-off on Tumblr, and approval from the director of collections. That's when I created the experiment: <span class="italic"><a href="http://chicagohistorymuseum.tumblr.com/" target="_blank">Chicago&nbsp;History&nbsp;in&nbsp;Pictures</a></span>&mdash;a Tumblr photoblog.
      </p>
      </div>
      </div>

      <h4 class="work-page__subheading work-page__subheading--small">Workflow</h4>
      <p>
        Creating the Tumblr theme and photoblog was only the beginning. In order for this system to work I needed to establish a manageable workflow that guaranteed quality content for our audience without compromising the Museum’s license, or consuming too many resources. I shared ownership of the pilot with the rights and reproductions department, the photolab team, and we created the workflow below. We performed this routine on a monthly basis.
      </p>
      <img src="images/work/simple-innovation/si-workflow.jpg">


      <h3 class="work-page__subheading">Results</h3>
      <div class="row">
      <div class="large-5 medium-5 columns">
        <img src="images/work/simple-innovation/si-photo-store.jpg">
      </div>
      <div class="large-7 medium-7 columns">
        <ol>
          <li><p><span class="bold">Tumblr Fame</span>&mdash; People loved the photos and a few went viral. Three times during the photoblog's first year Tumblr contacted me to tell me how much they loved the blog and to ask permission to spotlight it.</p></li>
          <li><p><span class="bold">Community Development</span>&mdash;Our Tumblr followers grew from zero to over 300,000 followers in less than a year.</p></li>
          <li><p><span class="bold">Press Coverage</span>&mdash;<a href="http://www.huffingtonpost.com/2012/12/05/prohibition-era-in-chicag_n_2245912.html">The Huffington Post</a> began featuring our photos on a regular basis.</p></li>
          <li><p><span class="bold">Museum Photo Store</span>&mdash;Because of the pilot's success the Museum has evolved it into an <a href="http://photostore.chicagohistory.org/" target="_blank">online photo store</a>, where you can now purchase prints and even have them printed on a t-shirt or iPhone case.</p></li>
        </ol>
      </div>
    </div>

    </section>
  </div>
</div>
