<div class="row">
  <div class="large-12 columns">
    <section class="work-page">
      <header class="work-page__header">
        <h2 class="work-page__context">
          Simple &amp; Impacful Innovation
        </h2>
        <p class="work-page__title">The Museum's Photo Collection</p>
        <ul class="large-block-grid-3">
        <li>
          <img src="http://40.media.tumblr.com/tumblr_mcezbmlSYw1r1g51jo1_500.jpg">
          <p class="text--left">Man tossing a child into the air at 57th Street Beach. Child unimpressed by gravity.  ICHi-65896, photograph by Stephen Marc, 1988. </p>
        </li>
        <li>
          <img src="http://41.media.tumblr.com/tumblr_mej12evlnD1r1g51jo1_500.jpg">
          <p class="text--left">Casey Jones (also known as “Chicken Charlie”), playing the accordion on Maxwell Street, 1963, Chicago, Illinois.  ICHi-51943, Photograph by James Newberry.</p>
        </li>
        <li>
          <img src="http://36.media.tumblr.com/tumblr_me7ltwWzdv1r1g51jo2_500.jpg">
          <p class="text--left">Cyrus “Cy” DeVry, the Lincoln Park Zoo’s first director, holding Peccaries in 1903, Chicago, Illinois. DN-0000294, Photograph by Chicago Daily News, Inc.</p>
        </li>
      </ul>
      </header>

      <p>
        The Chicago History Museum has over two million photographs in its collection. Only a small sample of the collection is digitized, and before I started this project it was not publicly accessible. You had to physically visit the Museum's research center in order to navigate your way through some of the images. There were no resources for an online Digital Asset Management system; no money to buy one, and no one to create it. The images resonated with me, and I made it a personal goal to share them with the world.
      </p>

      <h3 class="work-page__subheading">My Role</h3>
      <p>
        As the Multimedia Designer for the Museum I was constantly working with great images. I wanted to delight people with these images and encourage them to regularly engage with history; I wanted to create the <span class="italic">National Geographic</span> of urban history.
      </p>
       <p>
        My idea was to use social media to exhibit the images to the public. Using social media channels provided us with a low-cost technical solution, which was publicly accessible, allowed us to ship fast, and we could leverage our existing platforms and audiences to promote this new initiative.
      </p>
      <p>
        To bring the idea to life I needed to partner with photo collection stakeholders; develop the strategy, execute it, and measure its impact&mdash;I had to own this.
      </p>

      <h3 class="work-page__subheading">Strategy &amp; Execution</h3>
      <p>
        I pitched my idea to my supervisor and received her blessings. My next step was selling this idea to the photo collection stakeholders: the director of collections, Rights and Reproductions team, and photolab staff.
      </p>
      <p>
        The director of collections was hesitant because one of the Museum's key businesses is the licensing and reproduction of these photographs, so preserving the image rights and license was a must.
      </p>

      <div class="row">
      <div class="large-5 medium-5 columns">
        <img src="images/work/simple-innovation/museum-photo-collection.jpg">
      </div>
      <div class="large-7 medium-7 columns work-page__media">
        <p>
        We sat with the Museum's legal advisor and reviewed the Terms of Service for five major social networks. In the end I received legal sign-off on Tumblr, and approval from the director of collections&mdash;so I created <span class="italic"><a href="http://chicagohistorymuseum.tumblr.com/" target="_blank">Chicago&nbsp;History&nbsp;in&nbsp;Pictures</a></span>.
      </p>
      </div>
      </div>

      <h4 class="work-page__subheading work-page__subheading--small">Workflow</h4>
      <p>
        Creating the Tumblr theme was only the beginning, in order for this system to work I needed to establish a manageable workflow that guaranteed quality content for our audience without compromising the Museum's license, or eating up too many resources. I created the workflow below, and we performed it on a monthly basis.
      </p>
      <img src="images/work/simple-innovation/si-workflow.jpg">


      <h3 class="work-page__subheading">Results</h3>
      <div class="row">
      <div class="large-5 medium-5 columns">
        <img src="images/work/simple-innovation/si-photo-store.jpg">
      </div>
      <div class="large-7 medium-7 columns">
        <ol>
          <li><p><span class="bold">Tumblr Fame</span>&mdash; People loved the photos and a few went viral. Three times in that first year Tumblr contacted me to tell me how much they loved the blog and asked for permission to spotlight it</p></li>
          <li><p><span class="bold">Community Development</span>&mdash;Our Tumblr followers grew from 0-300,000+ followers in less than a year</p></li>
          <li><p><span class="bold">Press Coverage</span>&mdash;The Huffington Post began featuring our photos on a monthly basis.</p></li>
          <li><p><span class="bold">Museum Photo Store</span>&mdash;Because of the pilot's success the Museum has evolved it into an <a href="http://photostore.chicagohistory.org/" target="_blank">online photo store</a>, where you can purchase prints and even have them printed on a t-shirt or iPhone case.</p></li>
        </ol>
      </div>
    </div>

    </section>
  </div>
</div>
