<ul class="items text-center">
  <li class="item item--work">
    <div class="row">
      <div class="large-5 medium-5 columns">
        <a ui-sref="prototyping">
          <img src="images/work/end-to-end-prototyping/feedback.jpg">
        </a>
      </div>
      <div class="large-7 medium-7 columns">
        <h2 class="title title--work">
          End-to-End Prototyping
        </h2>
        <p class="work__description">
          Transforming an idea into a pilot
        </p>
        <a ui-sref="prototyping" class="button small radius button--black">gravitytank Feedback</a>
      </div>
    </div>
  </li>

  <li class="item item--work">
    <div class="row">
      <div class="large-5 medium-5 columns">
        <a ui-sref="storytelling" ng-click="setPageScroll(true)">
          <img src="images/work/digital-storytelling/digital-storytelling.jpg">
        </a>
      </div>
      <div class="large-7 medium-7 columns">
        <h2 class="title title--work">
          Digital Storytelling
        </h2>
        <p class="work__description">
          Creating a compelling experience via digital&nbsp;media and technology
        </p>
        <a ui-sref="storytelling" ng-click="setPageScroll(true)" class="button small radius button--black">Visit Lincoln’s Chicago</a>
      </div>
    </div>
  </li>

  <li class="item item--work">
    <div class="row">
      <div class="large-5 medium-5 columns">
        <a ui-sref="innovation" ng-click="setPageScroll(true)">
          <img src="images/work/simple-innovation/museum-photo-collection.jpg">
        </a>
      </div>
      <div class="large-7 medium-7 columns">
        <h2 class="title title--work">
          Simple &amp; Impactful Innovation
        </h2>
        <p class="work__description">
          Applying a simple solution to a complex&nbsp;problem
        </p>
        <a ui-sref="innovation" ng-click="setPageScroll(true)" class="button small radius button--black">The Museum Photo Collection</a>
      </div>
    </div>
  </li>

  <li class="item item--work">
    <div class="row">
      <div class="large-5 medium-5 columns">
        <a ui-sref="educational" ng-click="setPageScroll(true)">
          <img src="images/work/educational-product/facing-freedom.jpg">
        </a>
      </div>
      <div class="large-7 medium-7 columns">
        <h2 class="title title--work">
          Educational Product Design
        </h2>
        <p class="work__description">
          Designing a classroom experience
        </p>
        <a ui-sref="educational" ng-click="setPageScroll(true)" class="button small radius button--black">Facing Freedom</a>
      </div>
    </div>
  </li>
</ul>
